<?xml version="1.0" encoding="utf-8" ?>
<appConfiguration>
  <add key="Entities.config" value="/Core/MySpace.MSFast.Automation.Entities.config,/Tasks/EmailsSender/Entities.Task.EmailsSender.config" />
  <add key="Dao.config" value="/Core/MySpace.MSFast.Automation.Dao.config" />

  <add key="CheckInterval" value="10000" />
  <add key="StateFile" value="C:\\LastSentEmail.txt" />

  <add key="Recipients_PerfTable" value="yadid@myspace.com,yramot@myspace-inc.com" />
  <add key="Recipients_Matrix" value="yadid@myspace.com,yramot@myspace-inc.com" />
  
  <add key="Default.CachedData.Root.Server" value="C:\Development\MySpace.MSFast.Automation\Temp\results\results_{0}.xml" />
  <add key="Default.Thumbnails.Root.Server" value="C:\Development\MySpace.MSFast.Automation\Temp\thumbnails\{0}\" />
  <add key="Default.CachedData.Root.Context" value="http://modules.corp.myspace.com/results/results_{0}.xml" />
  <add key="Default.Thumbnails.Root.Context" value="http://modules.corp.myspace.com/thumbnails/{0}/" />

  <add key="DumpFolder" value="C:\" />
  <add key="RunAnyway" value="true" />

  <add key="EmailSMTPServer" value="smtp.gmail.com" />
  <add key="EmailFrom" value="yramot@myspace-inc.com" />
  <add key="From" value="Yadid Ramot" />
  <add key="EmailSMTPServerPort" value="25" />
  <add key="EmailUseSSL" value="true" />
  <add key="EmailSMTPServerPassword" value="" />
  <add key="EmailSMTPServerUsername" value="" />
</appConfiguration>
