<?xml version="1.0" encoding="utf-8"?>
<links>
  <link type="MySpace.MSFast.Automation.Web.Application._Default">
    <target>/Pages/Results/Browse/BrowseResults.aspx</target>
    <match>^http[s]{0,1}://[^/]*/(Default.aspx){0,1}([?].*){0,1}$</match>
    <path>/</path>
  </link>
  <link type="MySpace.MSFast.Automation.Web.Application.Pages.Results.Browse.BrowseResults">
    <target>/Pages/Results/Browse/BrowseResults.aspx</target>
    <match>^http[s]{0,1}://[^/]*/results([?].*){0,1}$</match>
    <path>/results</path>
  </link>
  <link type="MySpace.MSFast.Automation.Web.Application.Pages.Results.ShowResultsDetails">
    <target>/Pages/Results/ShowResultsDetails.aspx</target>
    <match>^http[s]{0,1}://[^/]*/results-details([?].*){0,1}$</match>
    <path>/results-details</path>
  </link>
  <link type="MySpace.MSFast.Automation.Web.Application.Pages.Tests.Browse.BrowseTests">
    <target>/Pages/Tests/Browse/BrowseTests.aspx</target>
    <match>^http[s]{0,1}://[^/]*/tests([?].*){0,1}$</match>
    <path>/tests</path>
  </link>
  <link type="MySpace.MSFast.Automation.Web.Application.Pages.Tests.Browse.BrowseTesterTypes">
    <target>/Pages/Tests/Browse/BrowseTesterTypes.aspx</target>
    <match>^http[s]{0,1}://[^/]*/test-boxes([?].*){0,1}$</match>
    <path>/test-boxes</path>
  </link>
  <link type="MySpace.MSFast.Automation.Web.Application.Pages.Triggers.Browse.BrowseTriggers">
    <target>/Pages/Triggers/Browse/BrowseTriggers.aspx</target>
    <match>^http[s]{0,1}://[^/]*/triggers([?].*){0,1}$</match>
    <path>/triggers</path>
  </link>  
</links>