<?xml version="1.0" encoding="utf-8"?>
<appConfiguration>
  <add key="StaticFiles.config" value="/Web/StaticFiles.config,/Web/MySpace.MSFast.Automation.StaticFiles.config" />
  <add key="Default.CachedData.Root.Context" value="http://modules.corp.myspace.com/results/results_{0}.xml" />
  <add key="Default.Thumbnails.Root.Context" value="http://modules.corp.myspace.com/thumbnails/{0}/" /> 
</appConfiguration>