<?xml version="1.0" encoding="utf-8" ?>
<objects>
  <style name="JRte_Style" source="Global/css/rte.css"/>
  <style name="JDatePicker_Style" source="Global/css/datepicker.css"/>
  <style name="JFileField_Style" source="Global/css/filefield.css"/>
  <style name="GlobalStyle" source="Global/css/global.css"/>
  <style name="GlobalBookletStyle" source="Global/css/booklet.css"/>
  <style name="AutoComplete" source="Global/css/autocomplete.css"/>
  <style name="JCropStyle" source="Global/css/jquery.jcrop.css"/>
  
  <jclass name="FacebookAPI" ext="true" source="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US" />
  <jclass name="JSAddThisLink" ext="true" source="http://s7.addthis.com/js/250/addthis_widget.js#pub=bwyinc" />
  
  <jclass name="JQuery" source="/EYF/JS/jquery-1.3.1.min.js" />
  
  <jclass name="JYoutubeHelper" source="/EYF/JS/jquery-youtubeloader.js" >
    <import_jclass>JQuery</import_jclass>
  </jclass>
  
  <jclass name="SWFObject" source="/EYF/JS/swfobject.js" />

  <jclass name="JColorPicker" source="/EYF/JS/jquery-colorpicker.js">
    <import_jclass>JQuery</import_jclass>
  </jclass>

  <jclass name="JBigIFRAME" source="/EYF/JS/jquery.bgiframe.min.js">
    <import_jclass>JQuery</import_jclass>
  </jclass>

  <jclass name="JClipboard" source="/EYF/JS/jquery-clipboard.min.js">
    <import_jclass>JQuery</import_jclass>
  </jclass>

  <jclass name="JWizard" source="/EYF/JS/jquery-wizard.js">
    <import_jclass>JLoadControl</import_jclass>
  </jclass>

  <jclass name="JAutoComplete" source="/EYF/JS/jquery-autocomplete.js">
    <import_style>AutoComplete</import_style>
    <import_jclass>JQuery</import_jclass>
    <import_jclass>JBigIFRAME</import_jclass>
  </jclass>

  <jclass name="JRte" source="/EYF/JS/jquery-rte.js">
    <import_jclass>JQuery</import_jclass>
    <import_style>JRte_Style</import_style>
    <import_jclass>JPopup</import_jclass>
  </jclass>

  <jclass name="JFileField" source="/EYF/JS/jquery-filefield.js">
    <import_jclass>JQuery</import_jclass>
    <import_style>JFileField_Style</import_style>
  </jclass>

  <jclass name="JFormGUI" source="/EYF/JS/jquery-formui.js">
    <import_jclass>JQuery</import_jclass>
  </jclass>

  <jclass name="JQueryFlydom" source="/EYF/JS/jquery.flydom-3.1.1.js">
    <import_jclass>JQuery</import_jclass>
  </jclass>
  
  <jclass name="JQueryReady" source="/EYF/JS/jquery.ready.js">
    <import_jclass>JQuery</import_jclass>
  </jclass>

  <jclass name="JTooltip" source="/EYF/JS/jquery.tooltip.js">
    <import_jclass>JQuery</import_jclass>
  </jclass>

  <jclass name="JDropDown" source="/EYF/JS/jquery.ddcombo.js">
    <import_jclass>JQuery</import_jclass>
    <import_jclass>JTooltip</import_jclass>
  </jclass>
  
  <jclass name="JFormValidation" source="/EYF/JS/jquery-formvalidation.js">
    <import_jclass>JQuery</import_jclass>
  </jclass>
  
  <jclass name="JLoadIndicator" source="/EYF/JS/jquery-load-indicator.js">
    <import_jclass>JQuery</import_jclass>
  </jclass>
  
  <jclass name="JCookie" source="/EYF/JS/jquery-cookie.js">
    <import_jclass>JQuery</import_jclass>
  </jclass>

  <jclass name="JLoadControl" source="/EYF/JS/jquery-loadcontrol.js">
    <import_jclass>JQuery</import_jclass>
    <import_jclass>JPopup</import_jclass>
    <import_jclass>JLoadIndicator</import_jclass>
  </jclass>
  
  <jclass name="JTabs" source="/EYF/JS/jquery-tabs.js">
    <import_jclass>JQuery</import_jclass>
  </jclass>
  
  <jclass name="JPaging" source="/EYF/JS/jquery-paging.js">
      <import_jclass>JForm</import_jclass>
      <import_jclass>JLoadControl</import_jclass>
  </jclass>
  
    <jclass name="JDatePicker" source="/EYF/JS/jquery-ui.datepicker.js">
      <import_jclass>JQuery</import_jclass>
      <import_jclass>JQueryCoreUI</import_jclass>
      <import_style>JDatePicker_Style</import_style>
    </jclass>
    
    <jclass name="JQueryCoreUI" source="/EYF/JS/jquery-core.ui.js">
      <import_jclass>JQuery</import_jclass>
    </jclass>

    <jclass name="JSon" source="/EYF/JS/jquery-json-1.3.min.js">
      <import_jclass>JQuery</import_jclass>
    </jclass>

    <jclass name="JPopup" source="/EYF/JS/jquery-popup.js">
      <import_jclass>JQuery</import_jclass>
    </jclass>

    <jclass name="JForm" source="/EYF/JS/jquery-form.js">
      <import_jclass>JQuery</import_jclass>
      <import_jclass>JCookie</import_jclass>
      <import_jclass>JSon</import_jclass>
      <import_jclass>JLoadIndicator</import_jclass>
    </jclass>

    <jclass name="JThumb" source="/EYF/JS/thumb_utils.js">
      <import_jclass>JQuery</import_jclass>
    </jclass>

    <jclass name="JCrop" source="/EYF/JS/jquery-jcrop.min.js">
      <import_jclass>JQuery</import_jclass>
      <import_style>JCropStyle</import_style>
    </jclass>

</objects>