<?xml version="1.0" encoding="utf-8"?>
<BDika.config>
  <add key="Dao.config" value="/Core/BDika.Dao.config" />
  <add key="Entities.config" value="/Core/BDika.Entities.config" />
  <add key="Entities.Pop.config" value="/Core/BDika.Entities.Pop.config" />
  <add key="Memcache.SysUniqueKey" value="BDK" />
</BDika.config>
