<?xml version="1.0" encoding="utf-8" ?>
<task.config>
  <add key="Entities.config" value="/Core/BDika.Entities.config,/Tasks/EmailsSender/Entities.Task.EmailsSender.config" />
  <add key="Dao.config" value="/Core/BDika.Dao.config" />

  <add key="CheckInterval" value="10000" />

  <add key="EmailSMTPServer" value="localhost" />
  <add key="EmailFrom" value="messages-noreply@myspace.com" />
  <add key="From" value="MySpace" />
  <add key="EmailUseDefaultCredentials" value="true" />
  <add key="EmailSMTPServerPort" value="25" />
  <add key="EmailSMTPServerPassword" value="" />
  <add key="EmailSMTPServerUsername" value="" />
  <add key="EmailTemplate" value="/Tasks/EmailsSender/Template.html" />
</task.config>
