<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
  <!-- DailyReport -->
  <object id="Email_DailyReport" type="EYF.Providers.Notifications.NotificationTemplates.EmailNotificationTemplate" singleton="false">
    <property name="EmailSubject">
      <value>
        <![CDATA[Daily Performance Report]]>
      </value>
    </property>
    <property name="TemplateText">
      <value>
        <![CDATA[
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head></head>
<body>
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td style="font-size:28px;line-height:20px;font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;padding:10px;">my______</td>
        <td align="right" style="color:#888;background:#000;font-family:Tahoma;padding:10px;font-weight:normal;font-size:14px">Daily Web Performance Report<br /><span style="font-size:11px;color:#CCFF00">{DATE:1}</span></td>
    </tr>
{ITER:EXT.Results}
    <tr>
        <td colspan="2" style="padding:15px 5px 0 5px;">
            <table width="100%" cellpadding="0" cellspacing="0" style="border:1px solid #CCC;border-width:1px 1px 0px 1px">
                <tr>
                    <td style="font-family:Tahoma;font-size:14px;font-weight:bold;color:#333;background:#EEE;padding:5px 10px;" colspan="2">{EXT.ITERATOR.Test.TestName}</td>
                    <td style="font-family:Tahoma;font-size:14px;font-weight:normal;color:#333;background:#EEE;padding:5px 0" align="left">{EXT.ITERATOR.Test.TestURL}</td>
                    <td style="font-family:Tahoma;background:#EEE;padding:5px 10px;font-size:11px;font-weight:bold;" align="right"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222">[More Info]</a></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding:0 5px 5px;">   
            <table width="100%" cellpadding="0" cellspacing="0" style="border:1px solid #CCC;border-width:1px 1px 2px 1px"> 
                <tr>
                    <td style="padding:5px" valign="top"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}"><img src="{GETTHUMBNAIL:EXT.ITERATOR.LatestResultsID}" width="150" height="112" style="border:1px solid #DDD;border-width:1px 1px 2px 1px"/></a></td>
                    <td width="100%">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="font-family:Tahoma;font-size:11px;font-weight:bold;color:#555;padding:5px">Client Time</td>
                                <td style="font-family:Tahoma;font-size:14px;font-weight:bold;color:#222;padding:10px 0">{TIME(10000):EXT.ITERATOR.RenderTime}</td>
                                <td style="font-family:Tahoma;font-size:11px;font-weight:bold;color:#555;padding:5px">Server Time</td>
                                <td style="font-family:Tahoma;font-size:14px;font-weight:bold;color:#222">{TIME(1000):EXT.ITERATOR.FirstRequestTime}</td>
                            </tr>
                            <tr>
                                <td valign="top" style="font-family:Tahoma;font-size:11px;color:#555;padding:5px;background:#FAFAFA">Files</td>
                                <td colspan="3" style="background:#FAFAFA;padding:5px;">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr><td style="font-family:Tahoma;font-size:11px;color:#999">All</td><td style="font-family:Tahoma;font-size:11px;">{COUNT(100):EXT.ITERATOR.TotalDownloadsCount}</td><td style="font-family:Tahoma;font-size:11px;">{SIZE(1000000):EXT.ITERATOR.TotalDownloadSize}</td></tr>
                                        <tr><td style="font-family:Tahoma;font-size:11px;color:#999">JS</td><td style="font-family:Tahoma;font-size:11px;">{COUNT(7):EXT.ITERATOR.TotalJSDownloadsCount}</td><td style="font-family:Tahoma;font-size:11px;">{SIZE(220000):EXT.ITERATOR.TotalJSDownloadSize}</td></tr>
                                        <tr><td style="font-family:Tahoma;font-size:11px;color:#999">CSS</td><td style="font-family:Tahoma;font-size:11px;">{COUNT(6):EXT.ITERATOR.TotalCSSDownloadsCount}</td><td style="font-family:Tahoma;font-size:11px;">{SIZE(200000):EXT.ITERATOR.TotalCSSDownloadSize}</td></tr>
                                        <tr><td style="font-family:Tahoma;font-size:11px;color:#999">Images</td><td style="font-family:Tahoma;font-size:11px;">{COUNT(25):EXT.ITERATOR.TotalImagesDownloadsCount}</td><td style="font-family:Tahoma;font-size:11px;">{SIZE(200000):EXT.ITERATOR.TotalImagesDownloadSize}</td></tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" style="font-family:Tahoma;font-size:11px;padding:5px;color:#555;background:#FAFAFA">Performance</td>
                                <td colspan="3" style="padding:5px;background:#FAFAFA">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr><td style="font-family:Tahoma;font-size:11px;color:#999">Avg. CPU (PT)</td><td style="font-family:Tahoma;font-size:11px;">{CPU(35):EXT.ITERATOR.ProcessorTimeAvg}</td><td style="font-family:Tahoma;font-size:11px;color:#999">Avg. CPU (UT)</td><td style="font-family:Tahoma;font-size:11px;">{CPU(35):EXT.ITERATOR.UserTimeAvg}</td></tr>
                                        <tr><td style="font-family:Tahoma;font-size:11px;color:#999">PWS &#916;</td><td style="font-family:Tahoma;font-size:11px;">{SIZE(40000000):EXT.ITERATOR.PrivateWorkingSetDelta}</td><td style="font-family:Tahoma;font-size:11px;color:#999">WS &#916;</td><td style="font-family:Tahoma;font-size:11px;">{SIZE(40000000):EXT.ITERATOR.WorkingSetDelta}</td></tr>
                                    </table>
                                </td>
                            </tr>
                            <tr><td style="font-family:Tahoma;font-size:10px;color:#CCC;padding:5px">Test Box</td><td colspan="3" style="font-family:Tahoma;font-size:10px;color:#CCC;padding:5px">{EXT.ITERATOR.TesterType.Name}</td></tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{/ITER}
</table>
</body>
</html>  
]]>
      </value>
    </property>
  </object>
  <!-- DailyReport -->
  <object id="Email_DailyTables" type="EYF.Providers.Notifications.NotificationTemplates.EmailNotificationTemplate" singleton="false">
    <property name="EmailSubject">
      <value>
        <![CDATA[Daily Performance Tables]]>
      </value>
    </property>
    <property name="TemplateText">
      <value>
        <![CDATA[
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" > 
<head></head> 
<body> 
<table width="100%" cellpadding="0" cellspacing="0"> 
    <tr> 
        <td style="font-size:28px;line-height:20px;font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;padding:10px;">my______</td> 
        <td align="right" style="color:#888;background:#000;font-family:Tahoma;padding:10px;font-weight:normal;font-size:14px">Daily Web Performance Report<br /><span style="font-size:11px;color:#CCFF00">{DATE:1}</span></td> 
    </tr> 
    <tr> 
        <td colspan="2" style="font-size:24px;color:#CCC;font-family:Tahoma;padding:10px 10px 0 10px;font-weight:bold">Ordered By Client Side</td> 
    </tr> 
    <tr> 
        <td style="padding:10px" colspan="2"> 
            <table width="100%" cellpadding="0" cellspacing="0" style="border:1px solid #CCC;border-width:1px 1px 0px 1px"> 
                <thead> 
                    <tr> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">Test Name</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">URL</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">Client Time</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">Server Time</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">Downloads</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">Size</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">JSs</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">JS Size</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">CSSs</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">CSS Size</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">Imgs</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">Img Size</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">UT</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">PT</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">PWS &#916;</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">WS &#916;</th> 
                    </tr> 
                </thead> 
                <tbody> 
{ITER:EXT.ClientResults}
                    <tr background="#CCC"> 
                        <td style="color:#222;font-family:Tahoma;font-size:11px;font-weight:bold;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{EXT.ITERATOR.Test.TestName}</a></td> 
                        <td style="color:#222;font-family:Tahoma;font-size:10px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{EXT.ITERATOR.Test.TestURL}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{TIME(10000):EXT.ITERATOR.RenderTime}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{TIME(1000):EXT.ITERATOR.FirstRequestTime}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{COUNT(100):EXT.ITERATOR.TotalDownloadsCount}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{SIZE(1000000):EXT.ITERATOR.TotalDownloadSize}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{COUNT(7):EXT.ITERATOR.TotalJSDownloadsCount}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{SIZE(220000):EXT.ITERATOR.TotalJSDownloadSize}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{COUNT(6):EXT.ITERATOR.TotalCSSDownloadsCount}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{SIZE(200000):EXT.ITERATOR.TotalCSSDownloadSize}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{COUNT(25):EXT.ITERATOR.TotalImagesDownloadsCount}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{SIZE(200000):EXT.ITERATOR.TotalImagesDownloadSize}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{CPU(35):EXT.ITERATOR.UserTimeAvg}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{CPU(35):EXT.ITERATOR.ProcessorTimeAvg}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{SIZE(40000000):EXT.ITERATOR.PrivateWorkingSetDelta}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{SIZE(40000000):EXT.ITERATOR.WorkingSetDelta}</a></td>  
                    </tr> 
{/ITER}
                </tbody> 
            </table> 
        </td> 
    </tr> 
    <tr> 
        <td colspan="2" style="font-size:24px;color:#CCC;font-family:Tahoma;padding:10px 10px 0 10px;font-weight:bold">Ordered By Server Side</td> 
    </tr> 
    <tr> 
        <td style="padding:10px" colspan="2"> 
            <table width="100%" cellpadding="0" cellspacing="0" style="border:1px solid #CCC;border-width:1px 1px 0px 1px"> 
                <thead> 
                    <tr> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">Test Name</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">URL</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">Client Time</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">Server Time</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">Downloads</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">Size</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">JSs</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">JS Size</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">CSSs</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">CSS Size</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">Imgs</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">Img Size</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">UT</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">PT</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">PWS &#916;</th> 
                        <th style="font-weight:bold;color:#FFF;background:#000;font-family:Tahoma;font-size:12px;text-align:left;padding:5px">WS &#916;</th> 
                    </tr> 
                </thead> 
                <tbody> 
{ITER:EXT.ServerResults}
                    <tr background="#CCC"> 
                        <td style="color:#222;font-family:Tahoma;font-size:11px;font-weight:bold;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{EXT.ITERATOR.Test.TestName}</a></td> 
                        <td style="color:#222;font-family:Tahoma;font-size:10px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{EXT.ITERATOR.Test.TestURL}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{TIME(10000):EXT.ITERATOR.RenderTime}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{TIME(1000):EXT.ITERATOR.FirstRequestTime}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{COUNT(100):EXT.ITERATOR.TotalDownloadsCount}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{SIZE(1000000):EXT.ITERATOR.TotalDownloadSize}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{COUNT(7):EXT.ITERATOR.TotalJSDownloadsCount}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{SIZE(220000):EXT.ITERATOR.TotalJSDownloadSize}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{COUNT(6):EXT.ITERATOR.TotalCSSDownloadsCount}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{SIZE(200000):EXT.ITERATOR.TotalCSSDownloadSize}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{COUNT(25):EXT.ITERATOR.TotalImagesDownloadsCount}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{SIZE(200000):EXT.ITERATOR.TotalImagesDownloadSize}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{CPU(35):EXT.ITERATOR.UserTimeAvg}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{CPU(35):EXT.ITERATOR.ProcessorTimeAvg}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{SIZE(40000000):EXT.ITERATOR.PrivateWorkingSetDelta}</a></td>  
                        <td style="color:#222;font-family:Tahoma;font-size:11px;text-align:left;padding:5px;border-bottom:1px solid #CCC;background:#{BACKGROUND:EXT.CurrentIndex}"><a href="http://modules.corp.myspace.com/Pages/Results/ShowResultsDetails.aspx?r={EXT.ITERATOR.LatestResultsID}" style="color:#222;text-decoration:none">{SIZE(40000000):EXT.ITERATOR.WorkingSetDelta}</a></td>  
                    </tr> 
{/ITER}
                </tbody> 
            </table> 
        </td> 
    </tr> 
    </table> 
</body> 
</html>   
]]>
      </value>
    </property>
  </object>
  <object id="Transformer_GETTHUMBNAIL"	type="MySpace.MSFast.Automation.Providers.Notifications.TransformGetThumbnail"></object>
  <object id="Transformer_BACKGROUND"	type="MySpace.MSFast.Automation.Providers.Notifications.TransformBackground"></object>
  <object id="Transformer_DATE"	type="MySpace.MSFast.Automation.Providers.Notifications.GetDate"></object>
  
  <object id="Transformer_TIME"	type="MySpace.MSFast.Automation.Providers.Notifications.TransformTime"></object>
  <object id="Transformer_COUNT"	type="MySpace.MSFast.Automation.Providers.Notifications.TransformCount"></object>
  <object id="Transformer_SIZE"	type="MySpace.MSFast.Automation.Providers.Notifications.TransformSize"></object>
  <object id="Transformer_CPU"	type="MySpace.MSFast.Automation.Providers.Notifications.TransformCPU"></object>
</objects>
