label.btn,.hmap,input.txt{background:url('../img/h.png') repeat-x 0 0;}
.ico{background:url('../img/m.png') no-repeat;}
a{text-decoration:none;color:#333}
body{font-family:Tahoma;font-size:11px;margin:0;padding:0;color:#333}
h1,h1 a{font-size:26px;color:#FFF;text-decoration:none;text-shadow:#000 2px 2px 1px;}
h1{background:#000;background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));background: -moz-linear-gradient(top,  #666,  #000);border-bottom:1px solid #FFCC00;margin:0;padding:1px 10px 5px 10px;}
h2{text-shadow:#FFF 1px 2px 1px;background:#F5F5F5;background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));background: -moz-linear-gradient(top,  #FFF,  #EEE);margin:0 0 21px 0;padding:10px;font-size:18px;}

h3{text-shadow:#FFF 1px 2px 1px;background:#F5F5F5;background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));background: -moz-linear-gradient(top,  #FFF,  #EEE);margin:0;padding:10px;font-size:12px;}
h5{background:#FAFAFA;margin:0;padding:10px;font-size:12px;}

/* Form */
.frmtbl{width:100%;border-spacing:0px}
.frmtbl th{text-align:left;padding:5px 10px;background:#F5F5F5;font-size:14px}
.frmtbl td{padding:5px 5px;}
.frmtbl td.btnbar{padding:4px 5px;text-align:right;background:#FAFAFA;}
.frmtbl td.fldnam{padding-left:10px;}

input{vertical-align:bottom;}
input.txt,select{vertical-align:middle;}
select,textarea,input.txt{padding:2px;margin:0;border:1px solid #CCC;}
input.txt{border-bottom:1px solid #EEE;background-position:0 -106px;}
form{margin:0;padding:0;display:block;}
.failed{border:1px solid #b33331 !important;}
.validationErr{display:block;width:200px;background:#FFFFCC;position:absolute;border:1px solid #b33331;padding:2px 5px;text-align:left;margin:6px 0px 0px 2px;}
input[type="hidden"]{display:none;}
form span.date select.day,form span.date select.year,form span.date select.month{position:static;display:inline;margin:0px 2px 0px 0px;}
form span.date select.day{width:70px;}
form span.date select.year{width:80px;}
form span.date select.month{width:70px;}
form span.date{width:226px;} select{width:226px;} input.txt{width:220px;}
input.txt.date{padding-left:20px;width:207px;background-position:0px -66px;background-repeat:no-repeat;background-color:#FFF}
select.failed,textarea.failed,input.failed{border-color:#B33331;}
textarea{display:block;margin-top:10px;height:90px;font-size:11px;width:396px;padding:5px}

/* Buttons */
label.btn{padding:0px;font-size:11px;background-position:0px 0;border-left:1px solid #888;border-right:1px solid #888;-moz-box-shadow:0 1px 0 #CCC;-webkit-box-shadow:0 1px 0 #CCC;box-shadow:0 1px 0 #CCC;cursor:pointer;display:inline-block;_display:block;font-weight:bold;line-height:normal !important;text-align:center;text-decoration:none;vertical-align:top;white-space:nowrap;}
label.btn2{background-position:0px -44px;border-color:#888;}
label.btn3{background-position:0px -22px;border-color:#888;}
label.btn input{font-size:11px;color:#FFF;background:transparent;font-weight:bold;border:none;height:21px;cursor:pointer;display:inline-block;position:relative;font-weight:bold;margin:0;outline:none;padding:3px 10px 6px 10px;white-space:nowrap;}
label.btn .ico{float:left;margin:2px -5px 0 3px;}
label.btn2 input{color:#333;}
label.btn3 input{color:#FFF;}
label.btn .btn{margin:0;}

/* POP UP */
#ppbg{display:none;position:fixed;_position:absolute;height:100%;width:100%;top:0;left:0;background:#000;z-index:15;}
#ppds{padding:0;margin:0;border:4px solid #999;background:#FFF}
#ppc{display:none;position:fixed;_position:absolute;background:#000;z-index:16;padding:1px;text-align:left;min-height:100px;min-width:200px;}
#ppc .ico-popup-title{position:absolute;top:10px;left:10px;}
#ppc .rc{display:none}
#ppc a.clspp{position:absolute;top:9px;right:9px;display:block;font-weight:bold;font-size:10px;text-decoration:none;background:#555;padding:2px 7px;color:#FFF;border:1px solid #CCC;}
#ppct{text-shadow:none;color:#FFF;font-size:11px;font-weight:bold;margin:0;padding:7px 10px 7px 10px;background:#000;background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));background: -moz-linear-gradient(top,  #666,  #000);border-bottom:1px solid #FFCC00;margin:0;}
#ppca{padding:0;border:10px solid #FAFAFA;font-size:11px;}
#ppca iframe{width:600px;height:300px;border:1px solid #FAFAFA;}
#ppca.alert{min-width:400px;padding:20px 10px 10px 10px;}
#ppca.alert button{margin:0px 0px 0px 3px;}
#ppca.alert .btns{display:block;text-align:center;padding:20px 0px 0px 0px;}
#ppca.alert .btnbar{margin-top:20px}
#ppca div.loading{min-height:150px;}

.nores{font-size:18px;text-align:center;padding:70px 0;font-weight:bold;color:#CCC;width:100%;border:1px solid #ddd;margin:0 auto}
.resultsfilter,.resultstable{border-spacing:0px;width:100%;margin:0 auto}
.resultsfilter{border-bottom:0;}
.resultstable tr.r1{background:#F5F5F5;}
.resultstable tr.over{background:#EEE;}
.resultstable th{color:#FFF;background:#000;background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));background: -moz-linear-gradient(top,  #666,  #000);border-bottom:1px solid #FFCC00;margin:0;padding:5px 10px;text-align:left;text-shadow:#000 2px 2px 1px;}
.resultstable td span{font-weight:normal;color:#999;margin:0 4px;}
.resultstable a{color:#333;display:block;padding:3px;text-decoration:none}
.resultstable a:hover{text-decoration:underline}
.resultstable .selectedrow td{background:#999;color:#FFF}
.resultstable .selectedrow a{color:#FFF;}
.resultstable .selectedrow a:hover{background:none;}
.resultstable .rdl{text-align:left;}
.resultstable .rdc {text-align:center;}
.resultstable .rdr{text-align:right;}
.resultstable .rdb{font-weight:bold;}
/* Tabs */
.tabs{font-family:Tahoma;font-size:11px;border-bottom:1px solid #CCC;height:31px;padding:0 5px}
.tabs a{text-shadow:1px 1px 0px #FFFFFF;display:block;float:left;padding:8px 12px;border:1px solid #e7e7e7;margin:0 1px;border-bottom:none;background: #f5f5f5;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#ededed');background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ededed));background: -moz-linear-gradient(top,  #f5f5f5,  #ededed);color:#333;font-weight:bold}
.tabs a .ico{float:left;margin:-1px 5px -2px -5px}
.tabs a:hover{text-decoration:none;color:#000;}
.tabs a.selected{background:#FFF;filter:none;border-bottom:4px solid #FFF;color:#333;}
.tabs .indicator{text-shadow:none;background:#AAA;color:#FFF;padding:0 4px 1px;font-size:10px;font-weight:normal;margin:0 4px}

/*
.ts.br.t{height:20px;text-align:right;z-index:1;}

*/
/* Browse */
form.brfrm{padding:0;min-height:2px}
.ts.br{clear:both;padding:6px 4px;margin:0;min-height:14px;position:relative;text-align:right;}
.ts.br.b{background:#FAFAFA;}
.ts .fl input,.ts .fl span{display:none;}
.ts .fl span.ti{font-weight:bold;display:inline}
.ts.t{margin-bottom:-26px;}
.ts.br a{text-decoration:none;padding:2px 5px;}
.ts.br a.prev,.ts.br a.next{border:1px solid #DDD;background-color:#FFF;display:none}
.ts.br a.prev:hover,.ts.br a.next:hover{background-color:#F3F3F3;text-decoration:none}

.ts.br.t a.prev,.ts.br.t a.next{border:1px solid #777;background-color:#333;display:none;color:#EEE}
.ts.br.t a.prev:hover,.ts.br.t a.next:hover{background-color:#888;text-decoration:none}

.ts.br a{color:#999}
.ts.br a.appendnext{color:#a92a2a;font-weight:bold;float:left;padding:10px 5px}
.ts.br a:hover{color:#555;text-decoration:underline}
.ts.br.t .pages a{color:#FFF;}
.ts.br .cr{font-weight:bold;color:#555;}
.ts.br .fl{position:absolute;left:10px;top:10px;}
.ts.br input{margin:0 5px 0 10px;padding:0;line-height:1px;}

.ico{display:block;width:16px;height:16px;}
.ico-results{background-position:0px 0px;}
.ico-trigger{background-position:-16px 0px;}
.ico-tests{background-position:-32px 0px;}
.ico-testbox{background-position:-48px 0px;}
.ico-add-test{background-position:-64px 0px;}
.ico-edit-test-box{background-position:-80px 0px;}
.ico-add-test-box{background-position:-96px 0px;}
.ico-delete-test-box{background-position:-112px 0px;}
.ico-variable{background-position:-128px 0px;}
.ico-add-variable{background-position:-144px 0px;}
.ico-delete-variable{background-position:-160px 0px;}

.ico-ok{background-position:-176px 0px;}
.ico-error{background-position:-192px 0px;}
	
.ico-popup-title{display:none;}
th .ico,h5 .ico{float:left;margin:1px 6px 0 0;}
a .ico{float:left;margin:-2px 6px 0 0;}

.box.box0{padding:21px;margin:21px;border:1px solid #EEE;text-align:center;background:#F5F5F5;background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));background: -moz-linear-gradient(top,  #FFF,  #EEE);}
.box.box0 .boxwrp{margin:0 auto;text-align:left;background:#FFF;border:1px solid #EEE;}

.wrn,.msg,.err{margin:0;padding:10px;}
.wrn .wrp,.msg .wrp,.err .wrp{margin:0px;padding:7px 10px 7px 35px;text-align:left;position:relative;border:1px solid #f6cb78;border-right:1px solid #f1bd5a;border-right:1px solid #f1bd5a }
.msg .wrp{background:#d0eac1;border-color:#437205;color:#035607;font-weight:bold;}
.err .wrp{background:#ffefe6;border-color:#a61d1d;}
.wrn .wrp{background:#fffdf6}
.wrn h3,.msg h3,.err h3{margin:0px 0 5px 0;padding:0;font-size:12px;}
.wrn p,.msg p,.err p{margin:0;padding:4px 0;}
.wrn .ico,.msg .ico,.err .ico{position:absolute;top:7px;left:10px;}
.wrn ul,.msg ul,.err ul{list-style:none;margin:0;padding:0;}
.wrn ul li,.msg ul li,.err ul li{margin:0;padding:2px 0 2px 0px;}
