<?xml version="1.0" encoding="utf-8" ?>
<task.config>
  <add key="CheckInterval" value="10000" />
  <add key="TestTempFolder" value="C:\temp" />
  <add key="MSFastConfigFiles" value="C:\Data\Development\MSFast\src\BDika\BDika.Tasks.TestsExecuter\bin\Debug\conf\SuProxy.default.config|C:\Data\Development\MSFast\src\BDika\BDika.Tasks.TestsExecuter\bin\Debug\conf\SuProxy.msfast.config" />
  <add key="ResultsFilePattern" value="C:\temp\Results\WebtestResults_{0}.trx" />
  <add key="MSTestTimeout" value="30000" />
  <add key="EngineExecutable" value="C:\Data\Development\MSFast\src\BDika\BDika.Tasks.TestsExecuter\bin\Debug\engine.exe" />
</task.config>
