<?xml version="1.0" encoding="utf-8" ?>
<config>
<!-- =======================================================================
Project: MSFast (MySpace.MSFast)
Author: Yadid Ramot (e.yadid@gmail.com)
Copyright (C) 2009 MySpace.com 

This file is part of MSFast.
MSFast is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

MSFast is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with MSFast.  If not, see <http://www.gnu.org/licenses/>.


======================================================================= -->


  <!-- Pipes Configuration -->
  <pipes>

	  <pipe name="LocalFileResponsePipeOverride_Empty_Pipe" classname="MySpace.MSFast.SuProxy.Pipes.Utils.HttpLocalFileResponsePipe" >
		  <data>
			  <file>C:\empty.txt</file>
		  </data>
	  </pipe>
	  <pipe name="LocalFileResponsePipeOverride_MSGlobal_Pipe" classname="MySpace.MSFast.SuProxy.Pipes.Utils.HttpLocalFileResponsePipe" >
		  <data>
			  <file>c:\msglobal.js</file>
		  </data>
	  </pipe>
	  
	  <!-- Override Original -->

    <pipe name="RequestHeaderFixer_MSFastTest" classname="MySpace.MSFast.SuProxy.Pipes.Utils.HttpFixRequestHeaderPipe">
      <data>
        <cleanreq><![CDATA[([\?&]__MSFASTTEST=1)]]></cleanreq>
      </data>
    </pipe>

    <pipe name="RequestMapper" classname="MySpace.MSFast.SuProxy.Pipes.Mapping.HttpURLMappingPipe" >
      <data>
        <category>request</category>
        <configfolder>.\conf</configfolder>
        <configfilenamepattern>SuProxy.msfast.mapping</configfilenamepattern>
      </data>
    </pipe>

    <pipe name="ResponseMapper" classname="MySpace.MSFast.SuProxy.Pipes.Mapping.HttpURLMappingPipe" >
      <data>
        <category>response</category>
        <configfolder>.\conf</configfolder>
        <configfilenamepattern>SuProxy.msfast.config</configfilenamepattern>
      </data>
    </pipe>

    
    
    
    <!-- Collection Pipes -->
    <pipe name="ParseCollectPipe" classname="MySpace.MSFast.Engine.SuProxy.Pipes.Collect.HttpParseCollectPipe" assembly="MySpace.MSFast.Engine.dll" />

    <pipe name="SaveIncomingDataPipe" classname="MySpace.MSFast.Engine.SuProxy.Pipes.Collect.SaveIncomingDataPipe"  assembly="MySpace.MSFast.Engine.dll" />
    
    <pipe name="PreCollectionPipe" classname="MySpace.MSFast.Engine.SuProxy.Pipes.Collect.PreCollectionPagePipe"  assembly="MySpace.MSFast.Engine.dll" />

    <pipe name="CheckTrackingState" classname="MySpace.MSFast.Engine.SuProxy.Pipes.Tracking.HttpTracerStatePipe"  assembly="MySpace.MSFast.Engine.dll" />
    <pipe name="HttpTracer_Flush" classname="MySpace.MSFast.Engine.SuProxy.Pipes.Tracking.HttpFlushPipe"  assembly="MySpace.MSFast.Engine.dll" />
    
    <pipe name="HttpTracer_Request" classname="MySpace.MSFast.Engine.SuProxy.Pipes.Tracking.HttpTracerPipe"  assembly="MySpace.MSFast.Engine.dll">
      <data>
        <request>true</request>
      </data>
    </pipe>
    
    <pipe name="HttpTracer_Response" classname="MySpace.MSFast.Engine.SuProxy.Pipes.Tracking.HttpTracerPipe"  assembly="MySpace.MSFast.Engine.dll">
      <data>
        <response>true</response>
      </data>
    </pipe>

  </pipes>


  <!-- Chains Configuration -->
	<chains>

		<chain name="BaseChain">
			<pipename>Socket_In_Client</pipename>
			<pipename>HttpTracer_Request</pipename>
			<pipename>RequestMapper</pipename>
			<pipename>SaveIncomingDataPipe</pipename>
			<pipename>ResponseMapper</pipename>
			<pipename>ResponseHeaderFixer</pipename>
			<pipename>HttpTracer_Response</pipename>
			<pipename>Socket_Out_Client</pipename>
			<pipename>Cleanup</pipename>
			<pipename>HttpTracer_Flush</pipename>
		</chain>

		<chain name="BaseChain_SuProxy">
			<!-- SuProxy -->
			<pipename>Socket_In_Client</pipename>
			<pipename>RequestMapper</pipename>
			<pipename>ResponseMapper</pipename>
			<pipename>ResponseHeaderFixer</pipename>
			<pipename>Socket_Out_Client</pipename>
			<pipename>Cleanup</pipename>
		</chain>

		<chain name="TrackingChain">
			<pipename>CheckTrackingState</pipename>
		</chain>

		<chain name="ParseCollectChain">
			<pipename>BufferBodyPipe</pipename>
			<pipename>UnchunkPipe</pipename>
			<pipename>UncompressContentPipe</pipename>
			<pipename>ParseCollectPipe</pipename>
		</chain>

		<chain name="GetContentFromServerChain_MSFastTest">
			<pipename>RequestHeaderFixer_MSFastTest</pipename>
			<chainname>GetContentFromServerChain</chainname>
		</chain>

		<chain name="PreCollectionChain">
			<pipename>PreCollectionPipe</pipename>
		</chain>

		<chain name="LocalFileResponsePipeOverride_Empty_Chain">
			<pipename>LocalFileResponsePipeOverride_Empty_Pipe</pipename>
		</chain>

		<chain name="LocalFileResponsePipeOverride_MSGlobal_Chain">
			<pipename>LocalFileResponsePipeOverride_MSGlobal_Pipe</pipename>
		</chain>
		

	</chains>

</config>