<?xml version="1.0" encoding="utf-8"?>
<BDika.Web.Core.config>
  <add key="Linkables.config" value="/Web/BDika.Linkables.config"/>
  <add key="StaticFiles.config" value="/Web/StaticFiles.config,/Web/BDika.StaticFiles.config" />
  <add key="Site.Name" value="BDika" />

  <add key="Default.CachedData.Root.Context" value="http://modules.corp.myspace.com/results/results_{0}.xml" />
  <add key="Default.Thumbnails.Root.Context" value="http://modules.corp.myspace.com/thumbnails/{0}/" />
</BDika.Web.Core.config>