<?xml version="1.0" encoding="utf-8"?>
<securityCredentials>
  <add key="user_cookie_InitVecrotBytes" value="aaaaaaaaaaaaaaaa" />
  <add key="user_cookie_SaltValueBytes" value="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa" />
  <add key="user_cookie_PassPhrase" value="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa" />

  <add key="form_encryption_InitVecrotBytes" value="bbbbbbbbbbbbbbbb" />
  <add key="form_encryption_SaltValueBytes" value="bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb" />
  <add key="form_encryption_PassPhrase" value="bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb" />

  <add key="web_data_InitVecrotBytes" value="cccccccccccccccc" />
  <add key="web_data_SaltValueBytes" value="cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" />
  <add key="web_data_PassPhrase" value="ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" />
</securityCredentials>
