<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net" xmlns:db="http://www.springframework.net/database">
  <object id="GetObjectsDBDAO" type="EYF.Dao.DB.Common.GetObjectsDBDAO, EYF.Dao"><property name="AdoTemplate" ref="adoReadTemplate"/></object>	
	<object id="UpdateObjectsDBDAO" type="EYF.Dao.DB.Common.UpdateObjectsDBDAO, EYF.Dao"><property name="AdoTemplate" ref="adoReadWriteTemplate"/></object>	
	<object id="InsertObjectsDBDAO" type="EYF.Dao.DB.Common.InsertObjectsDBDAO, EYF.Dao"><property name="AdoTemplate" ref="adoReadWriteTemplate"/></object>	
	<object id="ReplaceObjectsDBDAO" type="EYF.Dao.DB.Common.ReplaceObjectsDBDAO, EYF.Dao"><property name="AdoTemplate" ref="adoReadWriteTemplate"/></object>	
	<object id="DeleteObjectsDBDAO" type="EYF.Dao.DB.Common.DeleteObjectsDBDAO, EYF.Dao"><property name="AdoTemplate" ref="adoReadWriteTemplate"/></object>	
	<object id="GetObjectsCacheDAO" type="EYF.Dao.Cache.Common.GetObjectsCacheDAO, EYF.Dao"></object>	
	<object id="InsertObjectsCacheDAO" type="EYF.Dao.Cache.Common.InsertObjectsCacheDAO, EYF.Dao"></object>	
	<object id="ReplaceObjectsCacheDAO" type="EYF.Dao.Cache.Common.ReplaceObjectsCacheDAO, EYF.Dao"></object>	
	<object id="UpdateObjectsCacheDAO" type="EYF.Dao.Cache.Common.UpdateObjectsCacheDAO, EYF.Dao"></object>	
	<object id="DeleteObjectsCacheDAO" type="EYF.Dao.Cache.Common.DeleteObjectsCacheDAO, EYF.Dao"></object>

  <object id="DB_BrowseTesterTypes_All_Get" type="MySpace.MSFast.Automation.Dao.DB.Tests.Browse.BrowseTesterTypes_AllDBDAO, MySpace.MSFast.Automation.Dao"><property name="AdoTemplate" ref="adoReadTemplate"/></object>
  
  <object id="DB_BrowseTests_All_Get" type="MySpace.MSFast.Automation.Dao.DB.Tests.Browse.BrowseTests_AllDBDAO, MySpace.MSFast.Automation.Dao"><property name="AdoTemplate" ref="adoReadTemplate"/></object>
  <object id="DB_BrowseTests_ForTriggerAndTesterType_Get" type="MySpace.MSFast.Automation.Dao.DB.Tests.Browse.BrowseTests_ForTriggerAndTesterTypeDBDAO, MySpace.MSFast.Automation.Dao"><property name="AdoTemplate" ref="adoReadTemplate"/></object>

  <object id="DB_Test_Delete" type="MySpace.MSFast.Automation.Dao.DB.Tests.DeleteTestDBDAO, MySpace.MSFast.Automation.Dao"><property name="AdoTemplate" ref="adoReadWriteTemplate"/></object>
  <object id="DB_TesterType_Delete" type="MySpace.MSFast.Automation.Dao.DB.Tests.DeleteTesterTypeDBDAO, MySpace.MSFast.Automation.Dao"><property name="AdoTemplate" ref="adoReadWriteTemplate"/></object>

  <!-- Results -->
  <object id="DB_BrowseResultsEntities_FreeBrowse_Get" type="MySpace.MSFast.Automation.Dao.DB.Results.Browse.BrowseResultsEntities_FreeBrowseDBDAO, MySpace.MSFast.Automation.Dao"><property name="AdoTemplate" ref="adoReadTemplate"/></object>
  <object id="DB_PendingResultsEntityIndex_Get" type="MySpace.MSFast.Automation.Dao.DB.Results.GetPendingResultsEntityIndexDBDAO, MySpace.MSFast.Automation.Dao"><property name="AdoTemplate" ref="adoReadTemplate"/></object>
  <object id="DB_BrowseAvgResultsEntities_Get" type="MySpace.MSFast.Automation.Dao.DB.Results.Browse.GetLatestAvgResultsDBDAO, MySpace.MSFast.Automation.Dao"><property name="AdoTemplate" ref="adoReadTemplate"/></object>
  
  <!-- Triggers -->
  <object id="DB_BrowseTriggersEntities_FreeBrowse_Get" type="MySpace.MSFast.Automation.Dao.DB.Triggers.Browse.BrowseTriggersEntities_FreeBrowseDBDAO, MySpace.MSFast.Automation.Dao"><property name="AdoTemplate" ref="adoReadTemplate"/></object>
  <object id="DB_TriggerToTestAndTesterType_Delete" type="MySpace.MSFast.Automation.Dao.DB.Triggers.DeleteTriggerToTestAndTesterTypeDBDAO, MySpace.MSFast.Automation.Dao"><property name="AdoTemplate" ref="adoReadWriteTemplate"/></object>
  <object id="DB_Trigger_Delete" type="MySpace.MSFast.Automation.Dao.DB.Triggers.DeleteTriggerDBDAO, MySpace.MSFast.Automation.Dao"><property name="AdoTemplate" ref="adoReadWriteTemplate"/></object>
  
  <!-- Collectors -->
  <object id="DB_ExtCollectorsConfigEntity_Get" type="MySpace.MSFast.Automation.Dao.DB.Collectors.GetCollectorsConfigurationDBDAO, MySpace.MSFast.Automation.Dao"><property name="AdoTemplate" ref="adoReadTemplate"/></object>
  <object id="DB_BrowseExtCollectorsConfigEntities_Get" type="MySpace.MSFast.Automation.Dao.DB.Collectors.GetPendingResultsCollectorsConfigurationDBDAO, MySpace.MSFast.Automation.Dao"><property name="AdoTemplate" ref="adoReadTemplate"/></object>
  <object id="DB_UpdateConfig_Test_EntityCommand_Update" type="MySpace.MSFast.Automation.Dao.DB.Collectors.UpdateConfig_Test_EntityCommandDBDAO, MySpace.MSFast.Automation.Dao"><property name="AdoTemplate" ref="adoReadWriteTemplate"/></object>
  <object id="DB_UpdateConfig_TesterType_EntityCommand_Update" type="MySpace.MSFast.Automation.Dao.DB.Collectors.UpdateConfig_TesterType_EntityCommandDBDAO, MySpace.MSFast.Automation.Dao"><property name="AdoTemplate" ref="adoReadWriteTemplate"/></object>
  <object id="DB_UpdateConfig_Trigger_EntityCommand_Update" type="MySpace.MSFast.Automation.Dao.DB.Collectors.UpdateConfig_Trigger_EntityCommandDBDAO, MySpace.MSFast.Automation.Dao"><property name="AdoTemplate" ref="adoReadWriteTemplate"/></object>
  <object id="DB_UpdateConfig_TriggerToTestAndTesterType_EntityCommand_Update" type="MySpace.MSFast.Automation.Dao.DB.Collectors.UpdateConfig_TriggerToTestAndTesterType_EntityCommandDBDAO, MySpace.MSFast.Automation.Dao"><property name="AdoTemplate" ref="adoReadWriteTemplate"/></object>

</objects>

