<?xml version="1.0" encoding="utf-8"?>
<appConfiguration>
  <add key="Dao.config" value="/Core/MySpace.MSFast.Automation.Dao.config" />
  <add key="Entities.config" value="/Core/MySpace.MSFast.Automation.Entities.config" />
  <add key="Entities.Pop.config" value="/Core/MySpace.MSFast.Automation.Entities.Pop.config" />
  <add key="NotificationTemplates.config" value="/Notifications/NotificationTemplates.config" />
  <add key="Memcache.SysUniqueKey" value="BDK" />
  <add key="Resources.Global.Variables" value="MySpace.MSFast.Automation.Resources.GlobalVariables.Global|MySpace.MSFast.Automation.Resources.GlobalVariables" />
</appConfiguration>
