<?xml version="1.0" encoding="utf-8"?>
<objects xmlns="http://www.springframework.net" xmlns:db="http://www.springframework.net/database">
  <db:provider id="dbReadProvider" provider="MySql-5.0" connectionString="server=localhost;User ID=root;Password=qqqqqq;database=msfa;"/>
  <db:provider id="dbReadWriteProvider" provider="MySql-5.0" connectionString="server=localhost;User ID=root;Password=qqqqqq;database=msfa;"/>

  <object id="adoReadTemplate" type="Spring.Data.Generic.AdoTemplate">
    <property name="DbProvider" ref="dbReadProvider"/>
    <property name="DataReaderWrapperType" value="Spring.Data.Support.NullMappingDataReader"/>
  </object>

  <object id="adoReadWriteTemplate" type="Spring.Data.Generic.AdoTemplate">
    <property name="DbProvider" ref="dbReadWriteProvider"/>
    <property name="DataReaderWrapperType" value="Spring.Data.Support.NullMappingDataReader"/>
  </object>

  <object id="adoTransactionManager" type="Spring.Data.Core.AdoPlatformTransactionManager, Spring.Data">
    <property name="DbProvider" ref="dbReadWriteProvider"/>
  </object>

  <object id="autoProxyCreator" type="Spring.Aop.Framework.AutoProxy.DefaultAdvisorAutoProxyCreator, Spring.Aop"></object>
  <object id="transactionAdvisor" type="Spring.Transaction.Interceptor.TransactionAttributeSourceAdvisor, Spring.Data" autowire="constructor"></object>

  <object id="transactionInterceptor" type="Spring.Transaction.Interceptor.TransactionInterceptor, Spring.Data">
    <property name="TransactionManager" ref="adoTransactionManager"/>
    <property name="TransactionAttributeSource" ref="attributeTransactionAttributeSource"/>
  </object>

  <object id="attributeTransactionAttributeSource" type="Spring.Transaction.Interceptor.AttributesTransactionAttributeSource, Spring.Data"></object>

</objects>