<?xml version="1.0" encoding="utf-8"?>
<securityCredentials>
  <add key="user_cookie_InitVecrotBytes" value="4eStA+9sw*D--tR6" />
  <add key="user_cookie_SaltValueBytes" value="yuqujAcrURet4usw2yUs3u5ubr48uvUpAdeC7ahe3AthuteqANavejer5hUbr4Su" />
  <add key="user_cookie_PassPhrase" value="prA8ucRukUKEthecaquY7cReCeSpabrutaratrudreph3muJAthacepruzUk9sTa" />

  <add key="form_encryption_InitVecrotBytes" value="Xespeq#dreheWRu6" />
  <add key="form_encryption_SaltValueBytes" value="spapuspefu2uwrus8e2hefRaswes3avesp5fr9fAtanuxes8pr23wapujamaduwr" />
  <add key="form_encryption_PassPhrase" value="TrAn7BeWr28RutrepAbEVexaDetefr9jewrujAp8EkAfraP8AdrAfemac2aMUth2" />

  <add key="web_data_InitVecrotBytes" value="pr#t!A2r3da$e8$d" />
  <add key="web_data_SaltValueBytes" value="FraQeFu9A5WUMeswejuphuGutunub5ChAspUwUXesTebeNAVupRebAyastaZe4Es" />
  <add key="web_data_PassPhrase" value="wRuwefRaZESpaw6RuChabrUvucaYuqUgeSpAspEtHuhuxEchudAkERathASpadep" />
</securityCredentials>
