<?xml version="1.0" encoding="utf-8"?>
<eyf.config>
	<add key="Entities.config" value="/Core/Entities.config" />
	<add key="Entities.Pop.config" value="/Core/Entities.Pop.config" />
	<add key="Dao.config" value="/Core/Dao.config" />

	<add key="StaticFiles.config" value="/Web/StaticFiles.config" />
	<add key="StaticFiles.JS.Root" value="/" />
	<add key="StaticFiles.JS.Root.SSL" value="/" />
	<add key="StaticFiles.CSS.Root" value="/" />
	<add key="StaticFiles.CSS.Root.SSL" value="/" />

	<add key="FieldValidation.config" value="/Web/FieldValidation.config" />

	<add key="Linkables.config" value="/Web/Linkables.config"/>
	<add key="Linkables.Assemblies" value="EYF.Web"/>

	<add key="Codes.Zip.Config" value="/Codes/Codes.Zip.Config" />
	<add key="Codes.Countries.Config" value="/Codes/Codes.Countries.Config" />
	<add key="Codes.States.Config" value="/Codes/Codes.States.Config" />

	<add key="Site.Default.CNAME" value="www" />
	<add key="Site.Domain" value="eyf.com" />
	<add key="Site.Name" value="EYFramework" />
	<add key="Site.IsOnMainDomainRegex" value="^(www\.){0,1}eyf\.com$" />
	<add key="Site.Skin" value="Skin002" />
	<add key="Site.CurrentContext" value="EYF.Web.Context.EYFContext, EYF.Web" />
	<add key="Site.PageAttributesParser" value="EYF.Web.Common.RequestHelpers.EYFPageAttributesParser, EYF.Web" />
	<add key="Site.Resources.Base" value="EYF.Web." />
	<add key="Site.Resources.Assembly" value="EYF.Web.Resources" />

	<add key="S3ClientID" value="88683d2c2996a0e1c736d1f3c5e4fdc7a0fbf595575d31922d8a720d60f8952f" />
	<add key="AWSAccessKeyId" value="AKIAI2SX22YZAXFNAZ7A" />
	<add key="AWSSecretAccessKey" value="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" />
	<add key="QueryStringAuthTimout" value="10000" />

</eyf.config>