<?xml version="1.0" encoding="Windows-1252" ?>
<objects>
  <object name="BDika.Entities.Triggers.TriggerToTestAndTesterType, BDika.Entities" action="Add">
    <pop>BDika.Providers.Tests.Browse.BrowseTesterTypes_ForTestAndTrigger, BDika.Providers</pop>
    <pop>BDika.Providers.Tests.Browse.BrowseTesterTypes_ForTrigger, BDika.Providers</pop>
    <pop>BDika.Providers.Tests.Browse.BrowseTests_ForTrigger, BDika.Providers</pop>
  </object>
  <object name="BDika.Entities.Triggers.TriggerToTestAndTesterType, BDika.Entities" action="Delete">
    <pop>BDika.Providers.Tests.Browse.BrowseTesterTypes_ForTestAndTrigger, BDika.Providers</pop>
    <pop>BDika.Providers.Tests.Browse.BrowseTesterTypes_ForTrigger, BDika.Providers</pop>
    <pop>BDika.Providers.Tests.Browse.BrowseTests_ForTrigger, BDika.Providers</pop>
  </object>
  <object name="BDika.Entities.Tests.TesterTypeToTest, BDika.Entities" action="Add">
    <pop>BDika.Providers.Tests.Browse.BrowseTesterTypes_ForTest, BDika.Providers</pop>
  </object>
  <object name="BDika.Entities.Tests.TesterTypeToTest, BDika.Entities" action="Delete">
    <pop>BDika.Providers.Tests.Browse.BrowseTesterTypes_ForTest, BDika.Providers</pop>
  </object>
</objects>

