<?xml version="1.0" encoding="utf-8"?>
<objects xmlns="http://www.springframework.net" xmlns:db="http://www.springframework.net/database">
 <!-- 
 <db:provider id="dbReadProvider" provider="MySql-5.0" connectionString="server=localhost;User ID=mcu_dev_r;Password=123456;database=mycustomurl_dev;"/>
  <db:provider id="dbReadWriteProvider" provider="MySql-5.0" connectionString="server=localhost;User ID=mcu_dev_rw;Password=123456;database=mycustomurl_dev;"/>
  <object id="adoReadTemplate" type="Spring.Data.Generic.AdoTemplate">
    <property name="DbProvider" ref="dbReadProvider"/>
    <property name="DataReaderWrapperType" value="Spring.Data.Support.NullMappingDataReader"/>
  </object>
  <object id="adoReadWriteTemplate" type="Spring.Data.Generic.AdoTemplate">
    <property name="DbProvider" ref="dbReadWriteProvider"/>
    <property name="DataReaderWrapperType" value="Spring.Data.Support.NullMappingDataReader"/>
  </object> -->
</objects>