<?xml version="1.0" encoding="utf-8" ?>
<objects>
<!-- 
  <object name="EYF.Entities.Domains.Domain, EYF.Entities" action="Delete">
    <pop>EYF.Entities.Domains.DomainDomainExtensionEntityIndex, EYF.Entities</pop>
    <pop>EYF.Entities.Domains.UserIDDomainsEntityIndex, EYF.Entities</pop>
  </object> -->
</objects>

