<?xml version="1.0" encoding="utf-8" ?>
<config>
	<global>
		<PageDataCollector>
			<![CDATA[
        /*function alert() {return true;}
        function confirm() {return true;} 
        function onerror(){return true;}
        window.onerror = function(){return true;}*/
		
		function PageDataCollector(_tid,_totalp,_rurl,_reurl,_nurl)
		{
		    this.requestUrl = _rurl;
		    this.requestEncodedUrl = _reurl;
			this.nextURL = _nurl;
		    this.testId = _tid;
		    this.breaks = _totalp;
		
			this._collectors = [];
			
			this._callHandler = function(_fn,_ar){
				for(var i = 0 ; i < this._collectors.length; i++){
					try{
						if(this._collectors[i][_fn]){
							this._collectors[i][_fn]([_ar]);
						}
					}catch(e){}
				}
			};
			
			this._redirectPage = function(_u){
				try
				{
					window.external.ExecuteJs("redirect", _u);
				}
				catch(e)
				{
				}
			};
			
			this._doNext = function(){
				if(this.nextURL && this.nextURL != "" && this.nextURL != top.location.href){
					this._redirectPage(this.nextURL);
				}else{
					try{
						window.external.ExecuteJs("signal_test_ended",$pdc.testId);
					}catch(e){}
				}
			};
			
			this._checkIfAllDone = function(){
				var alldone = 0;
				var inst = this;
				alldone = setInterval(function(){
					for(var i = 0 ; i < inst._collectors.length; i++){
						try{
							if(inst._collectors[i].isFinished){
								if(inst._collectors[i].isFinished() == false){
									return;
								}
							}
						}catch(e){}
					}
					clearInterval(alldone);
					inst._doNext();
				},250);
			};
			
			this.addCollector = function(_ls){
				this._collectors.push(_ls);
			};
			
			this.onPreCollection = function(){
				this._callHandler("onPreCollection");
				try{window.external.ExecuteJs("signal_test_started",$pdc.testId);}catch(e){}
				this._redirectPage(this.nextURL);
			};
			
			this.onInit = function(){this._callHandler("onInit");};
			this.onTestStarted = function(){this._callHandler("onTestStarted");};
			this.onTestEnded = function(){this._callHandler("onTestEnded");};
			this.onStartDocument = function(){this._callHandler("onStartDocument");};
			this.onStartHtml = function(){this._callHandler("onStartHtml");};
			this.onStartHead = function(){this._callHandler("onStartHead");};
			this.onEndHead = function(){this._callHandler("onEndHead");};
			this.onStartBody = function(){this._callHandler("onStartBody");};
			this.onSegment = function(){this._callHandler("onSegment");};
			this.onEndBody = function(){this._callHandler("onEndBody");};
			this.onEndHtml = function(){this._callHandler("onEndHtml");};
			this.onEndDocument = function(){this._callHandler("onEndDocument");this._checkIfAllDone();};
		}
       ]]>
		</PageDataCollector>
		
		<PageDataCollector_Constructor><![CDATA[var $pdc = new PageDataCollector({0},{1},"{2}","{3}","{4}");]]></PageDataCollector_Constructor>
		<PageDataCollector_Event_OnInit><![CDATA[$pdc.onInit();]]></PageDataCollector_Event_OnInit>
		<PageDataCollector_Event_OnStartDocument ><![CDATA[$pdc.onStartDocument();]]></PageDataCollector_Event_OnStartDocument>
		<PageDataCollector_Event_OnStartHtml><![CDATA[$pdc.onStartHtml();]]></PageDataCollector_Event_OnStartHtml>
		<PageDataCollector_Event_OnStartHead><![CDATA[$pdc.onStartHead();]]></PageDataCollector_Event_OnStartHead>
		<PageDataCollector_Event_OnEndHead><![CDATA[$pdc.onEndHead();]]></PageDataCollector_Event_OnEndHead>
		<PageDataCollector_Event_OnStartBody><![CDATA[$pdc.onStartBody();]]></PageDataCollector_Event_OnStartBody>
		<PageDataCollector_Event_OnSegment><![CDATA[$pdc.onSegment();]]></PageDataCollector_Event_OnSegment>
		<PageDataCollector_Event_OnEndBody><![CDATA[$pdc.onEndBody();]]></PageDataCollector_Event_OnEndBody>
		<PageDataCollector_Event_OnEndHtml><![CDATA[$pdc.onEndHtml();]]></PageDataCollector_Event_OnEndHtml>
		<PageDataCollector_Event_OnEndDocument><![CDATA[$pdc.onEndDocument();]]></PageDataCollector_Event_OnEndDocument>

		<!-- PreCollection -->
		<PreCollectionHtml>
			<![CDATA[<html>
				<head>
					<script>
					{0}
					</script>
				</head>
				<body>
				</body>
				<script>
					setTimeout("$pdc.onPreCollection();",200);
				</script>
			</html>]]>
		</PreCollectionHtml>
	</global>
	<collectors>
		<collector name="Screenshots_Small">
		<![CDATA[
        var photoId = 0;
		function getPhotoId(_id){
          var s = "" + _id; 
		  while(s.length < 5) s = "0" + s;return s;
        }
        
        $pdc.addCollector({
          onSegment : function(){
            window.external.ExecuteJs("getSnapshot", getPhotoId(photoId++) + "~248~183~0");
          }
        });
		]]>
		</collector>

		<collector name="Progress_Tracker_Screenshots">
		<![CDATA[
		var __progress = 1;
		$pdc.addCollector({
			onSegment : function(){
				try{window.external.ExecuteJs("onProgress", "1;" + (__progress++) + ";" + $pdc.breaks);}catch(e){}
			}
		});
		]]>
		</collector>

		
		
		
		<collector name="Progress_Tracker_Render">
		<![CDATA[
		var __progress = 1;
		$pdc.addCollector({
			onSegment : function(){
				try{window.external.ExecuteJs("onProgress", "0;" + (__progress++) + ";" + $pdc.breaks);}catch(e){}
			}
		});
		]]>
		</collector>
		
		
		<collector name="Start_Download_Tracking_Using_Proxy">
		<![CDATA[
		$pdc.addCollector({
			onPreCollection : function(){
				var getXMLHttpRequest = function(){
				  if( typeof XMLHttpRequest == "undefined" ){
					try { return new ActiveXObject("Msxml2.XMLHTTP.6.0") } catch(e) {}
					try { return new ActiveXObject("Msxml2.XMLHTTP.3.0") } catch(e) {}
					try { return new ActiveXObject("Msxml2.XMLHTTP") } catch(e) {}
					try { return new ActiveXObject("Microsoft.XMLHTTP") } catch(e) {}
				 }else{
				  return new XMLHttpRequest();
				 }
				}
				var client = getXMLHttpRequest();
				client.open("GET", "/?START_TRACKING=" + $pdc.testId + "~" + $pdc.requestEncodedUrl, false);
				client.send();
			}
		});
		]]>
		</collector>

		<collector name="Stop_Download_Tracking_Using_Proxy">
		<![CDATA[
		$pdc.addCollector({
			onEndDocument : function(){
				var getXMLHttpRequest = function(){
				  if( typeof XMLHttpRequest == "undefined" ){
					try { return new ActiveXObject("Msxml2.XMLHTTP.6.0") } catch(e) {}
					try { return new ActiveXObject("Msxml2.XMLHTTP.3.0") } catch(e) {}
					try { return new ActiveXObject("Msxml2.XMLHTTP") } catch(e) {}
					try { return new ActiveXObject("Microsoft.XMLHTTP") } catch(e) {}
				 }else{
				  return new XMLHttpRequest();
				 }
				}
				var client = getXMLHttpRequest();
				client.open("GET", "/?STOP_TRACKING=" + $pdc.testId + "~" + $pdc.requestEncodedUrl, false);
				client.send();
			}
		});
		]]>
		</collector>

		<collector name="Start_Browser_Performance_Tracking">
		<![CDATA[
		$pdc.addCollector({
			onPreCollection : function(){
				window.external.ExecuteJs("startperftest","");
			}
		});
		]]>
		</collector>

		<collector name="Stop_Browser_Performance_Tracking">
		<![CDATA[
		$pdc.addCollector({
			onEndDocument : function(){
				window.external.ExecuteJs("endperftest","perfdump_" + $pdc.testId + ".dat");
			}
		});
		]]>
		</collector>

		<collector name="Clear_Browser_Cache">
		<![CDATA[
		var clearCache = function(){window.external.ExecuteJs("clearcache", "");};
		$pdc.addCollector({
			onPreCollection : clearCache,
			onEndDocument : clearCache
		});
		]]>
		</collector>

		<collector name="Track_Page_Render_Segments">
		<![CDATA[
        var _collectedRenderData = "";        
        window.onload = function(){markRenderTest("onload");}        
        document.onreadystatechange = function(){
          var rs = document.readyState;
          if(rs == "uninitialized"){	 markRenderTest("Ready State Uninitialized");
          }else if(rs == "loading"){	 markRenderTest("Ready State Loading");
          }else if(rs == "loaded"){		 markRenderTest("Ready State Loaded");
          }else if(rs == "interactive"){ markRenderTest("Ready State Interactive");
          }else if(rs == "complete"){	 markRenderTest("Ready State Complete"); }
        }        
        function getEpoch(){ 
			return (new Date()/1000)*1000; 
		}
        function markRenderTest(_t){
          _collectedRenderData += ((_t) ? _t  : "") + ":" + getEpoch() + ";"; 
        }        
        $pdc.addCollector({
          onEndHead		: function(){ markRenderTest("onEndHead"); },
          onStartBody	: function(){ markRenderTest("onStartBody"); },
          onSegment		: function(){ markRenderTest("onSegment"); },
          onEndBody		: function(){ markRenderTest("onEndBody"); },
          onEndHtml		: function(){ markRenderTest("onEndHtml"); },
          onEndDocument : function(){ 
			markRenderTest("onEndDocument"); 
			window.external.ExecuteJs("saveData", _collectedRenderData);
		  }
		});
		]]>
		</collector>
	</collectors>
</config>
