<?xml version="1.0" encoding="utf-8"?>
<BDika.Web.Application.config>
  <add key="Linkables.Assemblies" value="BDika.Web.Application"/>

  <add key="StaticFiles.JS.Root" value="http://bdika/Static" />
  <add key="StaticFiles.JS.Root.SSL" value="https://secure.bdika/Static" />
  <add key="StaticFiles.CSS.Root" value="http://bdika/Static" />
  <add key="StaticFiles.CSS.Root.SSL" value="https://secure.bdika/Static" />

  <add key="Site.Default.CNAME" value="" />
  <add key="Site.Default.CNAME.Secured" value="secure" />
  <add key="Site.Domain.Secured" value="bdika" />

  <add key="Site.CurrentContext" value="BDika.Web.Application.Context.BDikaApplicationContext, BDika.Web.Application" />
  <add key="Site.PageAttributesParser" value="BDika.Web.Application.Common.RequestHelpers.BDikaApplicationPageAttributesParser, BDika.Web.Application" />

  <add key="Application.Resources" value="([^BDika\.Web\.Core\.(.*?)][BDika.Web.Core|BDika.Resources.Web.Core][BDika.Resources.Web.Core])([^BDika\.Web\.Application\.(.*?)][BDika.Web.Application|BDika.Resources.Web.Application][BDika.Resources.Web.Application])([^EYF\.(.*?)][EYF.Web.|EYF.Resources.Web.][EYF.Resources.Web])" />
  <add key="Default.Resources" value="BDika.Resources.Web.Application.|BDika.Resources.Web.Application" />

  <add key="Site.Domain" value="bdika" />
  <add key="Site.IsOnMainDomainRegex" value="^(secure\.){0,1}bdika$" />
  <add key="Site.Skin" value="Skin001" />
</BDika.Web.Application.config>