<?xml version="1.0" encoding="utf-8"?>
<log4net debug="false">

  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
    <param name="File" value="./log/task.log" />
    <param name="AppendToFile" value="true" />
    <maxSizeRollBackups value="0" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}> - %m%n" />
    </layout>
  </appender>

  <appender type="log4net.Appender.RollingFileAppender,log4net" name="NagiosLogFileAppender">
    <file value="./log/nagios.log" />
    <maxSizeRollBackups value="0" />
    <maximumFileSize value="1KB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionpattern value="%m%n" />
    </layout>
  </appender>

  <logger name="DEFAULT">
    <level value="ALL" />
    <appender-ref ref="LogFileAppender" />
  </logger>

  <logger name="NagiosLogger">
    <level value="ALL" />
    <appender-ref ref="NagiosLogFileAppender" />
  </logger>
</log4net>