<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    <section name="appConfiguration" type="EYF.Core.Configuration.EYFConfigurationSectionHandler, EYF.Core" />
    <section name="securityCredentials" type="System.Configuration.DictionarySectionHandler" />
    <sectionGroup name="spring">
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>

  <appConfiguration>
    <config type="/Core/Application.config" />
    <config type="/Core/MySpace.MSFast.Automation.Application.config" />
    <config type="/Tasks/EmailsSender/Application.Task.EmailsSender.config" />
  </appConfiguration>

  <securityCredentials	configSource=".\Configuration\Core\SecurityCredentials.config" />
  <memcached				    configSource=".\Configuration\Core\MySpace.MSFast.Automation.Memcached.config" />
  <log4net				      configSource=".\Configuration\Tasks\Tasks.Logging.config" />

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
        <arg key="configType" value="EXTERNAL" />
      </factoryAdapter>
    </logging>
  </common>

  <spring>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
    </parsers>
  </spring>

</configuration>