<?xml version="1.0" encoding="utf-8" ?>
<task.config>
  <add key="Dao.config" value="/Tasks/TestsExecuter/Blank.config" />
  <add key="Entities.config" value="/Tasks/TestsExecuter/Blank.config" />
  <add key="CheckInterval" value="10000" />
  <add key="TestTempFolder" value="C:\temp" />
  <add key="MSFastConfigFiles" value="C:\TestsRunner\conf\SuProxy.default.config|C:\TestsRunner\conf\SuProxy.msfast.config" />
  <add key="ResultsFilePattern" value="C:\temp\Results\WebtestResults_{0}.trx" />
  <add key="MSTestTimeout" value="30000" />
  <add key="EngineExecutable" value="C:\TestsRunner\engine.exe" />
  <add key="ClientKey" value="clientkey" />
  <add key="ClientID" value="clientid" />
  <add key="BaseDomain" value="modules.corp.myspace.com" />  
</task.config>
